* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: #161623;
    background-image: linear-gradient(-315deg, #161623, #541f77);
}

#root {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

